# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
**/node_modules/
/apps/**/node_modules
/apps/**/dist
/apps/**/build
/apps/**/logs
/apps/**/public/temp
/apps/**/public/uploads
/apps/**/public/uploads/temp
/.turbo
/.idea
.pnp
.pnp.js

# TypeScript build cache
**/*.tsbuildinfo

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

/apps/backend/public/temp
# Local env files
.env
backend.env
db.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/settings
# Testing
coverage
tmp.txt
report.servicecopy.ts
# Turbo
.turbo
/.env.example
# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
/academic360-docs
/settings
logs
apps/backend/logs/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# dummy server
db.json
*.tsbuildinfo
